{% extends "base.html" %}

{% block content %}
<div class="container min-vh-100 my-4">
    <div class="d-flex flex-column align-items-start bg-light rounded-2 p-4">
        <h3 class="mb-5 w-100 text-primary text-center">Shorten your link!</h3>
        <form class="w-100 d-flex justify-content-center" action="" method="POST">
            <input class="d-block border-1 w-50 border-primary rounded-3 p-2 text-primary" type="text" name="source_link" id="source_link" value="{{shortened_link}}">
            <select class="p-2 ms-2 border-primary text-primary rounded-3" name="access_level" id="access_level">
                <option value="0">Public</option>
                {% if logged %}
                <option value="1">General</option>
                <option value="2">Private</option>
                {% else %}
                <option value="1" disabled>General (sign-in)</option>
                <option value="2" disabled>Private (sign-in)</option>
                {% endif %}
            </select>
            <button class="py-2 px-3 btn btn-outline-primary ms-2" type="submit">Get link</button>
        </form>
        {% for category,msg in get_flashed_messages(True) %}
            <div class="flash w-100 text-center alert alert-{{category}} my-3" role="alert">{{ msg }}</div>
        {% endfor %}
        <button class="btn btn-outline-secondary mt-5" type="button" data-bs-toggle="collapse" data-bs-target="#access_tip"
                aria-expanded="false" aria-controls="collapseExample">
            Access tip
        </button>
        <div class="collapse mt-4" id="access_tip">
            <div class="access_tip text-muted fw-normal ">
                <h5 class="fs-6 fw-normal">Public - anyone can follow your link</h5>
                <h5 class="fs-6 fw-normal">General - only authorized users can follow your link</h5>
                <h5 class="fs-6 fw-normal">Private - only you can follow your link</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}